body {
    padding: 0;
    margin: 0;
    font-family: arial;
    font-size: 12pt;
    color: white;
}

#aboutBackground {
    background-image: url("content/Big-Info-exterior-e1489792981964.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    z-index: -10;
}

#aboutSubHead{
    margin-bottom: 15px;
    font-size: 18pt;
    font-family: arial;
    font-weight: bold;
    color: white;
}

#aboutBody{
    font-family: arial;
    font-size: 12pt;
    color: white;
    
}

#darkcover {
    background-color: black;
    background-size: cover; 
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    z-index: -5;
    opacity: .8;
}

.image{
    margin-top: 1em;
    width: 6em;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-image: url("content/bcit.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textcenter {
    text-align: center;
}

#Owen_image {
    margin-top: 1em;
    width: 6em;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-image: url("content/Owen_Avatar.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

