@media print {
    @page {
        margin: 0;
    }
    body {
        margin: 0;
    }
    #wrap {
        page-break-inside: avoid;
    }
    #printTasks {
        display: block;
        page-break-inside: avoid;
    }
    #footer {
        display: block;
        page-break-inside: avoid;
    }
}

#printable {
    position: absolute;
    width: 1063px;
    height: 1375px;
}

#header {
    width: 941px;
    height: 150px;
    margin: 61px 61px 0px 61px;
    border-bottom: double;
    display: block;
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
}

#topRight {
    float: right;
    font-size: 20px;
}

#customerInfo {
    width: 941px;
    height: 110px;
    margin: 0px 61px 0px 61px;
    background-color: white;
    font-size: 16px;
    border-bottom: double;
}

#vehicleInfo1 {
    width: 470px;
    height: 140px;
    margin: 0px 0px 0px 61px;
    float: left;
    font-size: 16px;
    border-bottom: double;
}

#vehicleInfo2 {
    width: 471px;
    height: 140px;
    margin: 0px 61px 0px 0px;
    float: right;
    font-size: 16px;
    border-bottom: double;
}

#vehicleInfo3 {
    display: inline-block;
    width: 941px;
    overflow-y: auto;
    margin: 0px 61px 0px 61px;
    padding: 0px 0px 20px 0px;
    font-size: 16px;
    border-bottom: double;
    page-break-before: avoid;
}

#tasksRequested {
    float: none;
    display: block;
    width: 941px;
    margin: 15px 61px 0px 61px;
    padding: 0px 0px 20px 0px;
    font-size: 16px;
}

#footer {
    float: none;
    display: block;
    width: 941px;
    margin: 0px 61px 0px 61px;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
}

#calc {
    position: absolute;
    left: 800px;
    bottom: 695px;
}

#job1 {
    outline: 3px;
}

/** Job Info **/

#jobNumber {
    position: absolute;
    bottom: 840px;
    left: 80px;
}

#jobHeader {
    position: absolute;
    display: inline-block;
    width: 550px;
    bottom: 750px;
    left: 80px;
}

#custreq {
    position: absolute;
    display: inline-block;
    width: 550px;
    bottom: 700px;
    left: 80px;
}

#reqname {
    position: relative;
    bottom: 22px;
    left: 144px;
    outline: 5px black;
}

#repcoms_title {
    position: relative;
    bottom: 22px;
}

#repcoms {
    position: relative;
    bottom: 44px;
    left: 140px;
}

/**Labour Section**/

#labourheader {
    position: absolute;
    display: inline-block;
    width: 550px;
    bottom: 705px;
    left: 80px;
}

#labourinfo {
    position: absolute;
    display: inline-block;
    width: 550px;
    bottom: 575px;
    left: 80px;
}

.techname {
    position: relative;
    bottom: 22px;
    left: 56px;
}

.techhours {
    position: relative;
    bottom: 44px;
    left: 200px;
}

.hours {
    position: relative;
    bottom: 66px;
    left: 290px;
}

.billedlabour {
    position: relative;
    bottom: 88px;
    left: 380px;
}

.billed {
    position: relative;
    bottom: 110px;
    left: 483px;
}

/**Parts info**/

#partSection {
    position: absolute;
    display: inline-block;
    width: 800px;
    bottom: 640px;
    left: 80px;
}

#partsheader {
    position: relative;
    display: inline-block;
    
}

#partsinfo0 {
    position: absolute;
    display: inline-block;
    left: 0px;
    bottom: -20px;
}

#partsinfo1 {
    position: absolute;
    display: inline-block;
    left:0px;
    bottom: -50px;
}

#partsinfo2 {
    position: absolute;
    display: inline-block;
    left:0px;
    bottom: -80px;
}

#partsinfo3 {
    position: absolute;
    display: inline-block;
    left:0px;
    bottom: -110px;
}

#partsinfo4 {
    position: absolute;
    display: inline-block;
    left:0px;
    bottom: -140px;
}